
.hero-img {
  height: 350px;
  object-fit: cover;
  object-position: top;
  filter: brightness(60%);
}

.hero-overlay {
  padding: 0 16px;
}
.overlay-title {
  color: #d6c98f;
  font-weight: 700;
  text-shadow: 1px 1px 3px #000;
  margin: 0; 
  font-size: 60px; 
}

.overlay-text {
  color: #f5f3e7;
  font-size: 20px;
  text-shadow: 1px 1px 4px #000;
  margin-top: 8px;
}

.overlay-subtext {
  color: #c9c6b0;
  font-size: 20px;
  text-shadow: 1px 1px 3px #000;
  margin-top: 8px;
}
.nadpis-zeleni-hadi{
   color: limegreen;
   justify-content: center;
}
.rodice-header {
  padding: 32px 16px;
  margin-bottom: 16px; 
}

.rodice-title {
  color: #006705;           
  font-weight: 800;
  margin: 0 0 8px 0;
  font-size: 30px;         
  letter-spacing: 0.5px;
}

.rodice-subtitle {
  color: #00a020;         
  margin: 0 auto;
  font-size: 20px;
}

.small-card {
  width: 288px;
}

.uzovky-rodice-header {
  padding: 32px 16px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.uzovky-rodice-title {
  color: #b53600; 
  font-weight: 800;
  margin: 0 0 8px 0;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

.uzovky-rodice-subtitle {
  color: #f98629;
  margin: 0 auto;
  font-size: 20px;
}

.modry-rodice-header {
  padding: 32px 16px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.modry-rodice-title {
  color: #3900ac; 
  font-weight: 800;
  margin: 0 0 8px 0;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

.modry-rodice-subtitle {
  color: #2684f8;
  margin: 0 auto;
  font-size: 20px;
}

.galerie-header {
  padding: 32px 16px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.galerie-title {
  color: #000000; 
  font-weight: 800;
  margin: 0 0 8px 0;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

.galerie-subtitle {
  color: #000000;
  margin: 0 auto;
  font-size: 20px;
}

.mladata-header {
  padding: 32px 16px;
  margin-bottom: 16px; 
}

.mladata-title {
  color: #000000;           
  font-weight: 800;
  margin: 0 0 8px 0;
  font-size: 30px;         
  letter-spacing: 0.5px;
}

.mladata-subtitle {
  color: #3b3b3b;         
  margin: 0 auto;
  font-size: 20px;
}

.fotky-mladata-postup {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.fotky-mladata-postup img {
  width: 100%;
  max-width: 400px;   
  height: auto;       
  border-radius: 10px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.50); 
}

.o-plemeni-header {
  padding: 32px 16px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.o-plemeni-title {
  color: #000000; 
  font-weight: 800;
  margin: 0 0 8px 0;
  font-size: 30px;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

.o-plemeni-subtitle {
  color: #6a6a6a;
  margin: 0 auto;
  font-size: 20px;
}

.kontakty-header{
  color: #000000;
  margin: 0 auto;
  font-size: 50px;
}
.list-group-item{
 color: #3b3b3b;
  margin: 0 auto;
  font-size: 30px;
}
.mapa{
  width: 100%;
  height: 100%;
}
